root = true


[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

[*.{diff,md}]
insert_final_newline = false
trim_trailing_whitespace = false

[*.{conf,conf-sample}]
indent_size = 4

# Use WordPress-style tabs for PHP files
[*.php]
indent_style = tab
indent_size = 4
