*.sublime*
.DS_Store
.vagrant
config/nginx-config/sites/*.conf
www/*
www/wordpress-default/wp-content/
*.sql

!config/nginx-config/sites/local.wordpress.dev.conf
!config/nginx-config/sites/default.conf
!database/default-dbs.sql
!www/mu-plugins/
!www/default/
!www/wordpress-default/
