# Stuff that pops up locally for me - @jeremyfelt
*.sublime*
.DS_Store
.idea

# Because this really is a working directory, ignore vagrant's files
/.vagrant

# This is a file intended for hooking in a custom Vagrant configuration on up
/Customfile
/vvv-custom.yml

# Allow for custom provisioning scripts that are not included with the repo
/provision/provision-custom.sh
/provision/provision-pre.sh
/provision/provision-post.sh
/provision/github.token
/provision/resources/
/provision/utilities/
/provision/phpcs/

# Ignore custom trigger scripts in config/homebin.
/config/homebin/vagrant_up_custom
/config/homebin/vagrant_halt_custom
/config/homebin/vagrant_suspend_custom
/config/homebin/vagrant_destroy_custom

# No need to share individual site configs with each other
/config/nginx-config/sites/*.conf

# Ignore anything in the 'custom' directory in config
/config/custom/*

# Ignore the nvm git clone in the 'nvm' directory in config
/config/nvm/

# Ignore a custom bash_prompt if it exists
/config/bash_prompt

# Ignore downloaded wp-cli bash completions
/config/wp-cli/wp-completion.bash

# No need to share our mysql data with each other
/database/data/*

# Log files should be ignored.
/log/*
!/log/README.md

# No need to share our individual sites with each other
/www/*

# And no need to share individual SQL files with each other
*.sql
*.sql.gz

# BUT....

# We do have some default nginx configs that should be included
!/config/nginx-config/sites/default.conf
!/config/nginx-config/sites/deprecated.conf

# And we do have a default SQL file that should be included
!/database/init.sql

# And we provide our default host names in a dat file.
!/www/vvv-hosts

# But not the custom phpMyAdmin config in the database-admin directory.
/www/default/database-admin/config.inc.custom.php
/certificates
