body {
	background-color: #FEFEFE;
	font-family: Verdana,Tahoma,"Segoe UI", Arial;
	font-size: 0.8em;
	margin-top: 10px;
}

a {
	color: #EEE;
	text-decoration: none;
}

a:hover {
	color: #A00
}

input,select,textarea {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border-width: 1px;
    border-style: solid;
    border-color: #AAA;
	width: 298px;
	font-family: Tahoma;
	font-size: 1em;
}

textarea {
	width: 494px;
	resize: none;
}

select {
	width: 300px;
}

input:focus,textarea:focus {
    border-width: 1px;
    border-style: solid;
    border-color: #EEE;
}

input:hover {
	color: #A00;
}

img {
	border: none;
} /** hr */
hr {
	height: 0;
	border: none;
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EEE;
}

.menu {
    border-width: 1px;
    border-style: solid;
    border-color: #a0312a;
	color: #eee;
	width: 198px;
}

.item {
	font-family: "Bitstream Vera Sans Mono",
             "Lucida Sans Typewriter",
             "DejaVu Sans Mono",
             Consolas,
             "Andale Mono",
             "Lucida Console",
             "Liberation Mono",
             "Nimbus Mono L",
             Monaco,
             "Courier New",
             Courier,
             monospace;
     cursor: hand;
}

.loading {
	text-decoration: blink;
	visibility: hidden;
}

.full-size {
	width: 980px;
}

.size-0 {
	width: 494px;
}

.size-1 {
	width: 696px;
}

.size-2 {
	width: 398px;
}

.size-4 {
	width: 290px;
}

.size-5 {
	width: 226px;
}

.padding {
	padding: 3px 7px 3px 7px;
}

.corner {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.header {
    border-width: 1px;
    border-style: solid;
    border-color: #9c3c36;
	background: url("../Images/b5463f.png") repeat-x scroll 50% 50% #B5463F;
	font-weight: bold;
	color: #fff;
	clear: both
}

.sub-header {
	border-width: 1px;
    border-style: solid;
    border-color: #514845;
	background: url("../Images/635855.png") repeat-x scroll 50% 50% #635855;
	font-weight: bold;
	color: #fff;
	clear: both;
	margin-top: 10px
}

.container {
	border-width: 1px;
    border-style: solid;
    border-color: #d0d0d0;
	background: #ebebeb;
	font-weight: none;
	color: #000;
	margin-top: 1px;
	clear: both
}

.list {
	border-width: 1px;
    border-style: solid;
    border-color: #9c3c36;
	background: #B5463F;
	font-weight: bold;
	color: #fff
}

.button {
	padding: 1px 20px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px
}

.live {
	font-family: "Bitstream Vera Sans Mono",
             "Lucida Sans Typewriter",
             "DejaVu Sans Mono",
             Consolas,
             "Andale Mono",
             "Lucida Console",
             "Liberation Mono",
             "Nimbus Mono L",
             Monaco,
             "Courier New",
             Courier,
             monospace;
	font-size: 12px;
	overflow: visible;
	white-space: pre-wrap
}

.line {
	min-height: 18px;
	padding-top: 3px;
	padding-bottom: 2px;
	clear: both
}

.left {
	float: left;
	min-width: 126px;
	font-weight: bold
}

.right {
	float: right
}

.setting {
	min-width: 180px
}

.slabs {
	min-width: 104px
}
.help {
	cursor:help;
}

.container hr {
	height: 0;
	border: none;
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
}

.grey {
	color: #EEE
}

.green {
	color: #40aaba
}

.red {
	background: #b5463f;
	color: #fff;
	font-weight: bold
}